body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

main {
  padding: 1em;
}

section {
  background-color: #fff;
  margin: 1em 0;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
}

.tracker {
  margin-bottom: 2em;
}

.progress-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.progress-container {
  display: flex;
  align-items: center;
  position: relative; /* Ensures relative positioning context */
}

.progress-bar {
  flex-grow: 1;  /* Allows the progress bar to take up most of the space */
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 10px; /* Space between the progress bar and the label */
}

.progress {
  height: 20px;
  background-color: #4caf50;
  width: 0; /* This will be dynamically updated */
  transition: width 0.5s;
}

.goal-label {
  padding: 4px 10px;
  background-color: #f2f2f2; /* Light grey background for the label */
  border-radius: 8px; /* Rounded corners for the label */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  white-space: nowrap; /* Prevents the label from wrapping */
  font-size: 0.9rem; /* Smaller font size for the label */
  color: #333; /* Dark grey color for the text */
  align-self: flex-start; /* Aligns the label to the top of the container */
}



#relags .progress {
  background-color: #f44336; /* Red */
}

#dreamer .progress {
  background-color: #2196f3; /* Blue */
}

.log-form {
  display: flex;
  flex-direction: column;
}

.log-form label {
  margin: 0.5em 0 0.2em;
}

.log-form input, .log-form select, .log-form button {
  padding: 0.5em;
  margin: 0.2em 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.log-form button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.log-form button:hover {
  background-color: #45a049;
}
